@charset "UTF-8";

/*gofun  tubiao*/
@font-face {
    font-family: 'iconfont';  /* project id 790454 */
    src: url('https://at.alicdn.com/t/font_790454_vwb4dgzwuq.eot');
    src: url('https://at.alicdn.com/t/font_790454_vwb4dgzwuq.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_790454_vwb4dgzwuq.woff') format('woff'),
    url('https://at.alicdn.com/t/font_790454_vwb4dgzwuq.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_790454_vwb4dgzwuq.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*手机屏幕table*/
@media (max-width: 768px) {
    .form-group .bootstrap-select{
        margin-top: 7px;
    }
    .fixed-table-body{
        overflow: hidden;
        overflow-x: scroll;
    }
    .table > thead > tr > th{
        white-space: nowrap;
    }
    #pageListForm .col-md-2 .btn-primary{
        border-radius: 1px !important;
        margin-top: 10px;
    }
    .pull-right {
        float: left !important;
        margin-top: 15px !important;
    }
    .form-horizontal .control-label{
        margin-bottom: 7px;
    }
    #pageListForm .col-md-1 .btn-primary {
        margin-top: 10px;
    }
}

/* 按钮样式*/
table .btn,table .form-control {
    border-radius: 1px !important;
    margin: 5px 2px !important;
    padding: 4px 6px;
}
.btn-primary {
    color: #fff;
    background-color: #727cf5;
    border-color: #727cf5;
}
.pagination-detail .btn-group .btn{
    padding:2px 10px;
    border-radius: 2px !important;
}
.page-list .dropdown-menu{
    width: 100%;
    min-width: auto;
}
.fixed-table-pagination{
    
}
.fixed-table-pagination .pagination{
    margin: 0;
}
#pageListForm .btn-primary{
    border-radius: 1px !important;
}
#pageListForm .col-md-1 .btn-primary{

}
.btn-toolbar{
    margin-bottom: 10px;
}
.well .box > div >h4 {
    line-height: 42px;
    padding-left: 20px;
}
.fa{
    margin-right: 5px;
}



/*    container 样式*/
#page {
    background: none repeat scroll 0 0 #fafbfc;
    height: 100%;
    min-width: 320px;
}
.container{

}
.box.border.green{
    background: #fff;
}

.box.border.green {
    border: 1px solid #9db36a;
    /* border: 1px solid #e5e5e5 !important; */
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    padding: 25px;
}
.box.border.green > .box-title {
    background-color: #ffffff !important;
    border-radius: 4px 4px 0 0;
    /* border-bottom: 1px solid #ced0ca; */
    border: none;
    padding: 0px;
    min-height: 0;
    margin-bottom: 8px;
}
.box.border.green > .box-title .tools > a :hover{
    color: #727cf5 !important;
    opacity: 1 !important;
}
.box.border.green > .box-title h4 {
    color: #58666e !important;
    font-weight: 800;
    font-size: 15px;
    line-height: 0;
    margin-bottom: 0;
}
.box.border.green > .box-title h4 i{
    color: #58666e !important;
}
.box.border.green > .box-title .tools > a {
    color: #727cf5 !important;
    line-height: 32px;
    line-height: 0;
}
.box.border > .box-title .tools, .box.solid > .box-title .tools{
    margin-bottom: 0;
    line-height: 0;
    min-height: 0;
}
.box.border .box-body, .box.solid .box-body {
    border-radius: 0 0 4px 4px;
    padding: 0px;
    background-color: #FFFFFF;
}

/*table*/
.bootstrap-table .table-bordered > thead > tr > th{
    line-height: 32px;

}
.bootstrap-table .table-bordered > thead > tr > th .th-inner{
    white-space: nowrap;
}
.bootstrap-table{
    margin-top: 10px;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    text-align: left !important;
    text-align: center !important;
    line-height: 1.428571429;
    vertical-align: middle;
    border-top: 1px solid #dddddd;
}
.fixed-table-pagination .btn-group,.fixed-table-pagination .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}
body table .no-records-found td{
    text-align: center !important;
    line-height: 30px;
}
.fixed-table-body .fixed-table-loading{
    margin-bottom: 5px;
}

.table-striped > tbody > tr:last-child td,.table > tbody > tr:last-child td{
    white-space: nowrap;
}

/*table 滚动*/
.bootstrap-table {

}
.fixed-table-body{
    overflow: hidden;
    overflow-x: scroll;
}
.table_nowrap{
    overflow: hidden !important;
    overflow-x: scroll;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
    white-space: nowrap;
    max-width: 500px;
}
.table_nowrap > tbody > tr > td{
    min-width: 160px !important;
}
.table-striped > tbody > tr > .td_nowrap{
    white-space: nowrap;
    max-width: 500px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table{
    margin-bottom: 5px;
}
.fixed-table-pagination {
    margin-top: 10px;
}

/*olderdetail 详情列表*/
.older_detail .btn-toolbar .btn{
    margin-bottom: 10px;
    border-radius: 2px !important;
}
.detail_box .detail_group{
    padding-bottom: 20px;
   /* border: 1px dashed #D4D8D9;*/
    margin-bottom: 20px;
    border-radius: 3px;
    border-top: none;
}
.detail_box .detail_group:last-child{
    margin-bottom: 0px;
}
.older_detail .detail_box{
    padding: 0;
    background: none;
    border: none;
}
.older_detail .detail_box .form-group{
    margin-bottom:10px;
}
.older_detail .detail_box .form-group .col-sm-2{
    padding-left:0px;
}
.older_detail .detail_box .col-sm-1{
    color: #000000;
    font-weight: 500;
}
.older_detail .detail_box .col-sm-2{
    font-weight: 500;
}
.older_detail .detail_box .col-sm-3{
    font-weight: 500;
}
.older_detail .detail_box .group_head{
    text-align: right;
    font-size: 15px;
    color: #0d0e11;
    line-height: 35px;
    background: rgba(236, 236, 236, 0.55);
    border-radius: 3px 2px 0px 0px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
.older_detail .detail_box .group_head div{
    text-align: left;
    font-weight: 550;
    color: #4c4d4e;
    font-size: 14px;
}
.older_detail .detail_box .group_head i{
    padding: 0 15px 0 20px;
    color: rgb(17, 103, 189);
    font-size: 16px;
}

.well{
	    background-color: rgba(245, 245, 245, 0);
}

.transfer{
	width: 800px;
}
.btn-group-box{
    display:inline-block;
    color: #98a6ad;
    border: none;
    background: none
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger{
    color: #2b3af0;
    background: none;
    box-shadow: none;
}
.btn-group-more{
    padding: 0;
    background: none;
    border: none;
    color: #2b3af0;
}
.btn-group-more:hover{
    color: #2b3af0;
}
















